<div class="pedido">
    <div class="detalle-pedido">
        <div class="detalle-header">
            <h3>Detalle del Pedido</h3>
            <div class="detalle-header-titles">
                <table class="table">
                    <thead class="tableHeader">
                      <th class="table-title" scope="col">Descripcion</th>
                      <th class="table-title" scope="col">Cantidad</th>
                      <th class="table-title" scope="col">Subtotal</th>
                      <th class="table-title" scope="col">TOTAL</th>
                      <th class="table-title-x" scope="col"></th>
                    </thead>
                    <tbody>    
                      <tr *ngFor="let item of pedidoActual; let i = index">
                        <td class="table-data" scope="row">{{item.producto}}</td>
                        <td class="table-data" scope="row">
                            <div class="celdaCantidad">
                                {{item.cantidad}}
                                <div class="cantidad">
                                    <i class="fa-solid fa-plus" (click)="sumarProducto(i)"></i>
                                    <i class="fa-solid fa-minus" (click)="restarProducto(i)"></i>    
                                </div>
                            </div>
                        </td>
                        <td class="table-data" scope="row">${{item.precio}}</td>
                        <td class="table-data" scope="row">${{ item.cantidad * item.precio }}</td>
                        <td class="table-data-x" scope="row">
                        <i class="fa-solid fa-xmark" (click)="eliminarProducto(i)"></i>                       
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                        <th class="table-title" scope="col"></th>
                        <th class="table-title" scope="col"></th>
                        <th class="table-title" scope="col"></th>
                        <th class="table-title" scope="col">${{totalPedido}}</th>
                        <th class="table-title-x" scope="col"></th>
                    </tfoot>
                  </table>
            </div>
        </div>
    </div> 
</div>
